{% if google_analytics_id %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id|urlencode }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', {{ google_analytics_id|tojson }});
</script>
{% endif %}
{% if adsense_publisher_id %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ adsense_publisher_id|urlencode }}" crossorigin="anonymous"></script>
{% endif %}
